include parts/head1
meta(name='description', content='#{siteDesc}')
meta(name='keywords', content='#{siteKeywords}')
title #{siteName}
include parts/head2
#wrapper.container
  .py-3
  .py-3.px-3

    h1.mb2-b
      a(href='http://electerm.html5beta.com')
        img.max-100.d-inline-block(src='https://github.com/electerm/electerm-resource/raw/master/static/images/electerm.png', alt='electerm')

    p.lead <code>electerm</code> is a terminal/ssh/sftp client(mac, win, linux) based on electron/node-pty/xterm and many other modules, I hope it works as a combination of <code>guake</code> and <code>xshell</code>.
    hr.m-y-2
    p.lead.badges
      a(href='https://github.com/electerm/electerm/releases', rel='nofollow')
        img(src='https://img.shields.io/github/release/electerm/electerm/all.svg', alt='GitHub version')
      a(href='https://travis-ci.org/electerm/electerm', rel='nofollow')
        img(src='https://travis-ci.org/electerm/electerm.svg?branch=release', alt='Build Status')
      a(href='https://ci.appveyor.com/project/zxdong262/electerm/branch/release', rel='nofollow')
        img(src='https://ci.appveyor.com/api/projects/status/33ckbqln02utekxd/branch/release?svg=true', alt='Build status')
      a(href='https://david-dm.org/electerm/electerm', title="View the status of this project's dependencies on DavidDM", rel='nofollow')
        img(src='https://img.shields.io/david/electerm/electerm.svg', alt='Dependency Status')
      a(href='https://david-dm.org/electerm/electerm#info=devDependencies', title="View the status of this project's development dependencies on DavidDM", rel='nofollow')
        img(src='https://img.shields.io/david/dev/electerm/electerm.svg', alt='Dev Dependency Status')
      span.badge-githubstar
        iframe(src='https://ghbtns.com/github-btn.html?user=electerm&repo=electerm&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
    .py-2
    h3 download
    hr
    #accordion(role='tablist')
      - let arr = Object.keys(assets)
      - let len = arr.length
      - let i = 0
      - for (;i < len;i++) {
        - let key = arr[i]
        - let os = assets[key]
        - let osName = os.name
        - let id = 'heading' + i
        - let cid = id + 'c'
        - let items = os.items
        .card
          .card-header(role='tab', id=id)
            h5.mb-0
              a.d-block.text-dark(data-toggle='collapse', href=`#${cid}`, role='button', aria-expanded='true', aria-controls=`${cid}`, data-os=key) #{osName}
          .collapse.hide(id=cid, role='tabpanel', aria-labelledby=id, data-parent='#accordion')
            .card-body
              - let ll = items.length
              - let j = 0
              - for(;j < ll;j ++) {
                - let obj = items[j]
                div
                  a.pb-2.d-block(href=obj.browser_download_url)
                    b #{obj.name}
                    span.text-secondary.ml-1 #{obj.desc}
              - }
      - }

    .pt-2
      img.max-100.d-inline-block(src='https://github.com/electerm/electerm-resource/raw/master/static/images/electerm.gif', alt='')

    .py-2

    h2 features
    hr
    ul
      li.pb-1 work as a terminal or ssh/sftp client(similar to xshell)
      li.pb-1 hotkey to bring window back to front(simliar to guake, default is ctrl + 2)
      li.pb-1 support multi platform(linux, mac, windows)
      li.pb-1 support multi-language(en, cn only for now)

    .py-2
    h2 user tips
    hr
    ul
      li.pb-1
        code.mr-1 double click
        | a ssh tab will duplicate a same tab, and enter same path as original tab(limited support)
      li.pb-1
        code.mr-1 double click
        | blank area of tab bar will open a new ssh terminal too
      li.pb-1
        code.mr-1 right click
        | a ssh tab you can open context menu, from context menu there are
        code.mx-1 close other tabs
        |,
        code.mx-1 close tabs on the right
        | , and more function
      li.pb-1 by default,
        code.mx-1 Ctrl + 2
        | will bring electerm window to front, hotkey can be set in
        code.mx-1 setting
        | menu
    .py-2

    h2 license
    hr
    p MIT


    .py-3

    include parts/footer-html

include parts/footer-js
script.
  let ua = navigator.userAgent.toLowerCase()
  function is(key) {
    return ua.indexOf(key) > -1;
  }
  $(function() {
    let os = 'windows'
    if (is('linux')) {
      os = 'linux'
    } else if (is('mac') || is('darwin')) {
      os = 'mac'
    }
    $('[data-os="' + os + '"]').click()
  })
include parts/footer-end