
- var {id, lang, langs, siteKeywords, siteName,assets, version, releaseNote, releaseDate} = data
- var {desc} = lang.lang.app
include parts/head1
meta(name='description', content=desc)
meta(name='keywords', content=siteKeywords)
style.
  .langs a {
    padding: 0px 0px 0px 4px;
    margin-left: 2px;
    display: inline-block;
    position: relative;
  }
  .langs .active:after, .langs a:hover:after {
    position: absolute;
    content: '➧';
    left: -3px;
    top: 0px;
    text-decoration: none;
    color: red;
  }
  .font14 {
    font-size: 14px;
  }
title #{siteName}
include parts/head2
#ubg
#content
  #wrapper.container
    .py-3.text-right.langs
      - for(let item of langs) {
        - let {pathHtml, id} = item
        a(href=pathHtml, title=item.lang.name) #{item.lang.flag}
      - }

    .py-3.px-3

      h1.mb2-b
        a.big-logo.d-inline-block(href='https://electerm.html5beta.com')
          img.max-100.d-inline-block(src='https://github.com/electerm/electerm-resource/raw/master/static/images/electerm.png', alt='electerm')

      p.lead #{desc}.
      hr.m-y-2
      p.lead.badges
        a(href='https://github.com/electerm/electerm/releases', rel='nofollow')
          img(src='https://img.shields.io/github/release/electerm/electerm/all.svg', alt='GitHub version')
        a(href='https://travis-ci.org/electerm/electerm', rel='nofollow')
          img(src='https://travis-ci.org/electerm/electerm.svg?branch=release', alt='Build Status')
        a(href='https://ci.appveyor.com/project/zxdong262/electerm/branch/release', rel='nofollow')
          img(src='https://ci.appveyor.com/api/projects/status/33ckbqln02utekxd/branch/release?svg=true', alt='Build status')
        a(href='https://david-dm.org/electerm/electerm', title="View the status of this project's dependencies on DavidDM", rel='nofollow')
          img(src='https://img.shields.io/david/electerm/electerm.svg', alt='Dependency Status')
        a(href='https://david-dm.org/electerm/electerm#info=devDependencies', title="View the status of this project's development dependencies on DavidDM", rel='nofollow')
          img(src='https://img.shields.io/david/dev/electerm/electerm.svg', alt='Dev Dependency Status')
        span.badge-githubstar
          iframe(src='https://ghbtns.com/github-btn.html?user=electerm&repo=electerm&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
      .py-2
      h3 #{lang.lang.control.download}
      hr
      p#release-date.pb-1
      #accordion(role='tablist')
        - let arr = Object.keys(assets)
        - let len = arr.length
        - let i = 0
        - for (;i < len;i++) {
          - let key = arr[i]
          - let os = assets[key]
          - let osName = os.name
          - let id = 'heading' + i
          - let cid = id + 'c'
          - let items = os.items
          .card
            .card-header(role='tab', id=id)
              h5.mb-0
                a.d-block(data-toggle='collapse', href=`#${cid}`, role='button', aria-expanded='true', aria-controls=`${cid}`, data-os=key)
                  span #{osName}
                  small.font14.text-secondary.ml-1.release-date
            .collapse.hide(id=cid, role='tabpanel', aria-labelledby=id, data-parent='#accordion')
              .card-body
                - let ll = items.length
                - let j = 0
                - for(;j < ll;j ++) {
                  - let obj = items[j]
                  div
                    a.pb-2.d-block(href=obj.browser_download_url)
                      b #{obj.name}
                      span.text-secondary.ml-1 #{obj.desc}
                - }
                ul.pt-1
                  - let rns = releaseNote.split('\r\n')
                  - for (let rn of rns) {
                    li #{rn.replace(/^- /, '')}
                  - }
        - }

      .pt-3.text-center
        img.max-100.d-inline-block.e-gif(src='https://github.com/electerm/electerm-resource/raw/master/static/images/electerm.gif', alt='')

      .py-2
      .py-3

      include parts/footer-html

include parts/footer-js
script.
  var ua = navigator.userAgent.toLowerCase()
  function is(key) {
    return ua.indexOf(key) > -1;
  }
  /**
  * Shuffles array in place.
  * @param {Array} a items An array containing the items.
  */
  function shuffle(a) {
      var j, x, i;
      for (i = a.length - 1; i > 0; i--) {
          j = Math.floor(Math.random() * (i + 1));
          x = a[i];
          a[i] = a[j];
          a[j] = x;
      }
      return a;
  }
  function shuffleLangs() {
    $('.langs').html(
      shuffle($('.langs a').toArray())
        .reduce(function(prev, curr) {
          return prev + $(curr).wrapAll('<div>').parent().html()
        }, '')
    )
  }
  $(function() {
    var os = 'windows'
    var d = new Date("#{releaseDate}")
    var y = d.getFullYear()
    var m = d.getMonth()
    var dd = d.getDate()
    m = m > 9 ? m + 1 : '0' + (m + 1)
    dd = dd > 9 ? dd : '0' + dd
    var dt = y + '-' + m + '-' + dd
    $('.release-date').html(dt)
    shuffleLangs()
    $('.langs a[href="' + location.pathname + '"]').addClass('active')
    if (is('linux')) {
      os = 'linux'
    } else if (is('mac') || is('darwin')) {
      os = 'mac'
    }
    $('[data-os="' + os + '"]').click()
  })
include parts/footer-end