section.home-author
  .container
    .author-inner
      .author-text
        h2 #{lang.lang.homeAuthorTitle}
        p #{lang.lang.homeAuthorDesc1}
        .author-links
          a.author-link(href='https://github.com/zxdong262', target='_blank', rel='noreferrer')
            | #{lang.lang.homeAuthorGithub}
          a.author-link(href='https://html5beta.com/page/timeline.html', target='_blank', rel='noreferrer')
            | #{lang.lang.homeAuthorResume}
          a.author-link(href='/contact/')
            | #{lang.lang.homeAuthorContact}
