section.home-faq
  .container
    .section-header
      h2 #{lang.lang.homeFaqTitle}
      p #{lang.lang.homeFaqSubtitle}
    .home-faq-list
      .home-faq-item
        .home-faq-q #{lang.lang.homeFaq1Q}
        .home-faq-a #{lang.lang.homeFaq1A}
      .home-faq-item
        .home-faq-q #{lang.lang.homeFaq2Q}
        .home-faq-a #{lang.lang.homeFaq2A}
      .home-faq-item
        .home-faq-q #{lang.lang.homeFaq3Q}
        .home-faq-a #{lang.lang.homeFaq3A}
    .home-faq-more
      a.home-faq-link(href='/faq/') #{lang.lang.homeFaqViewAll}
