section.features
  .container
    .section-header
      h2 #{lang.lang.featuresTitle}
      p #{lang.lang.featuresSubtitle}
    .features-grid
      .feature-card
        .feature-icon ⚡
        h3 #{lang.lang.featureAllInOneTitle}
        p #{lang.lang.featureAllInOneDesc}
      .feature-card
        .feature-icon 🔐
        h3 #{lang.lang.featureSecureAuthTitle}
        p #{lang.lang.featureSecureAuthDesc}
      .feature-card
        .feature-icon 📁
        h3 #{lang.lang.featureRemoteFileEditingTitle}
        p #{lang.lang.featureRemoteFileEditingDesc}
      .feature-card
        .feature-icon 🖥️
        h3 #{lang.lang.featureMultiTabTerminalTitle}
        p #{lang.lang.featureMultiTabTerminalDesc}
      .feature-card
        .feature-icon 🔥
        h3 #{lang.lang.featureGlobalHotkeyTitle}
        p #{lang.lang.featureGlobalHotkeyDesc}
      .feature-card
        .feature-icon 🎨
        h3 #{lang.lang.featureThemesCustomizationTitle}
        p #{lang.lang.featureThemesCustomizationDesc}
      .feature-card
        .feature-icon 🌐
        h3 #{lang.lang.featureMultiLanguageTitle}
        p #{lang.lang.featureMultiLanguageDesc}
      .feature-card
        .feature-icon 🤖
        h3 #{lang.lang.featureAiAssistantTitle}
        p #{lang.lang.featureAiAssistantDesc}
      .feature-card
        .feature-icon 🔗
        h3 #{lang.lang.featureMcpDeepLinksTitle}
        p #{lang.lang.featureMcpDeepLinksDesc}
      .feature-card
        .feature-icon ☁️
        h3 #{lang.lang.featureCloudSyncTitle}
        p #{lang.lang.featureCloudSyncDesc}
      .feature-card
        .feature-icon 📎
        h3 #{lang.lang.featureZmodemTrzszTitle}
        p #{lang.lang.featureZmodemTrzszDesc}
      .feature-card
        .feature-icon 📦
        h3 #{lang.lang.featureCrossPlatformTitle}
        p #{lang.lang.featureCrossPlatformDesc}
