footer.site-footer
  .container
    .footer-grid
      .footer-brand
        .footer-brand-name
          span electerm
        p #{lang.lang.footerBrandDesc}
      .footer-col
        h4 #{lang.lang.footerProduct}
        ul
          li: a(href='#downloads') #{lang.lang.footerDownload}
          li: a(href='https://cloud.electerm.org', target='_blank', rel='noreferrer') #{lang.lang.footerElectermOnline}
          li: a(href='/videos') #{lang.lang.footerVideoGuides}
          li: a(href='https://github.com/electerm/electerm/wiki', target='_blank', rel='noreferrer') #{lang.lang.footerDocumentation}
          li: a(href='/sponsor-electerm/') #{lang.lang.footerSponsor}
      .footer-col
        h4 #{lang.lang.footerCommunity}
        ul
          li: a(href='https://github.com/electerm/electerm', target='_blank', rel='noreferrer') #{lang.lang.footerGithub}
          li: a(href='https://github.com/electerm/electerm/discussions', target='_blank', rel='noreferrer') #{lang.lang.footerDiscussions}
          li: a(href='https://github.com/electerm/electerm/issues', target='_blank', rel='noreferrer') #{lang.lang.footerReportIssues}
          li: a(href='https://github.com/electerm/electerm-locales', target='_blank', rel='noreferrer') #{lang.lang.footerTranslations}
      .footer-col
        h4 #{lang.lang.footerRelated}
        ul
          li: a(href='https://electerm-cloud.html5beta.com/', target='_blank', rel='noreferrer') electerm cloud
          li: a(href='https://github.com/electerm/electerm-web', target='_blank', rel='noreferrer') electerm-web
          li: a(href='https://github.com/tylerlong/manate', target='_blank', rel='noreferrer') manate
    .footer-bottom
      p © 2024 ZHAO Xudong. MIT License.
      .footer-bottom-links
        a(href='/privacy-policy/') #{lang.lang.footerPrivacyPolicy}
        a(href='https://html5beta.com', target='_blank', rel='noreferrer') #{lang.lang.footerAuthor}
        a(href='http://github.com/zxdong262', target='_blank', rel='noreferrer') GitHub
        a(href='https://html5beta.com/page/timeline.html', target='_blank', rel='noreferrer') #{lang.lang.footerResume}
