section.links-section
  .container
    .section-header
      h2 #{lang.lang.resourcesTitle}
      p #{lang.lang.resourcesSubtitle}
    .links-grid
      each category in linkCategories
        .link-category
          h3 #{lang.lang['resources' + category.key]}
          ul.link-list
            each link in category.links
              if link.external
                li: a(href=link.url, target='_blank', rel='noreferrer')= link.title
              else
                li: a(href=link.url)= link.title
