meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='author' content='ZHAO Xudong')
meta(name='robots' content='index, follow')
link(rel='canonical' href=url)

link(rel='icon' type='image/x-icon' href=host + '/favicon.ico')
link(rel='icon' type='image/png' sizes='32x32' href=host + '/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href=host + '/favicon-16x16.png')
link(rel='apple-touch-icon' sizes='180x180' href=host + '/apple-touch-icon.png')
link(rel='manifest' href=host + '/site.webmanifest')

meta(property='og:type' content='website')
meta(property='og:site_name' content='electerm')
meta(property='og:url' content=url)
meta(property='og:image' content=host + '/android-chrome-512x512.png')
meta(property='og:image:width' content='512')
meta(property='og:image:height' content='512')
meta(property='og:image:alt' content='electerm logo')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:image' content=host + '/android-chrome-512x512.png')

meta(name='theme-color' content='#ffffff')
link(rel='stylesheet', href=cssUrl)
