include ./video-lang

.back-to-videos-wrapper.pd1y
  a.back-to-videos(href='/videos/') ← Back to Videos List

h1.video-title(data-title-en=video.titleEn data-title-zh=video.title)= video.titleEn
.video-section
  .video-player-wrapper
    iframe.video-player(
      src=`//player.bilibili.com/player.html?bvid=${video.bvid}&page=1&high_quality=1&danmaku=0&autoplay=0`
      scrolling='no'
      border='0'
      frameborder='no'
      framespacing='0'
      allowfullscreen='true'
    )
